<section>
  <div fxLayout="row wrap" fxFlexLayout="spac-evenly center">
    <div>
      <img src="../../../assets/img/logo.png" alt="" />
      <h5>
        COPYRIGHT ©2020 ALL RIGHTS RESERVED | THIS TEMPLATE IS MADE WITH BY
      </h5>
    </div>
    <div>
      <h2>About us</h2>
      <a href="">Our Story</a><br />
      <a href="">Sol Music Blog</a><br />
      <a href="">History</a>
    </div>
    <div>
      <h2>PRODUCTS</h2>
      <a href="">Our Story</a><br />
      <a href="">Sol Music Blog</a><br />
      <a href="">History</a>
    </div>
    <div>
      <h2>PLAYLISTS</h2>
      <a href="">Our Story</a><br />
      <a href="">Sol Music Blog</a><br />
      <a href="">History</a>
    </div>
  </div>
</section>
