<div class="nav">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="dog" fxLayout="row wrap">
      <div class="dogg">
        <h2><a href="#Dogger .">SOLMUSIC</a></h2>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <div class="dog">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Pages</a>
        <a href="">News</a>
        <a href="">Contact</a>
      </div>
    </div>
    <div class="hi">
      <a href="">Creat account</a>
      <a href="">Login</a>
      <a href="">help</a>
    </div>
  </div>
</div>
