<div class="ban">
  <div class="love-care-part">
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <div class="love-care">
        <h2>LOVE & CARE</h2>
        <p>❖ Make appointments, Show property</p>
        <p>
          ❖ Provide advice to Buyers or Sellers regarding price, negotiating
          strategy, or repair strategy
        </p>
        <p>❖ Write offers, Attend any inspections</p>
        <p>❖ Interfere with any active real estate professional</p>
        <p>
          ❖ Pay fees to any local real estate board, MLS, or Realtor Association
        </p>
        <p>❖ Pay E&O</p>

        <button mat-button class="btn">DOWNLOAD NOW</button> &nbsp; &nbsp;
        &nbsp;
        <button mat-button class="btn1">START FREE TRAIL</button>
      </div>
      <div class="love-img">
        <img src="../../../assets/img/hero-bg.png" />
      </div>
    </div>
  </div>
</div>
